@using Sociolite.Models
@using Sociolite.Data

<div class="card m-2" style="margin: 5px; text-align: center">
    <div class="card-body" style="background-color: #c47572; padding-left: 45px; padding-right: 45px; border-radius: 10px;">
        <h3 class="card-title text-center">@Team.Name</h3> 
            <div style="margin: 5px;">
            <div class="card-text"><b>Happens at:</b></div>
            <div>@recurranceManager.ConvertRecurranceStringToReadableFormat(Team.RecurranceString)</div>
            <div><button disabled="@DisableManagerButtons" @onclick="ShowTimePopUp">Change time</button></div>
            </div>
            <div style="margin: 5px;">
            <div class="card-text"><b>Custom discussions left:</b></div>
            <div>@Team.CustomDiscussions.Count()</div>
            <div><button disabled="@DisableManagerButtons" @onclick="ShowDiscussionPopUp">Manage custom discussions</button></div>
            </div>
            <div style="margin: 5px;">
            <div class="card-text"><b>Custom polls left:</b></div>
            <div>@Team.CustomPolls.Count()</div>
            <div><button disabled="@DisableManagerButtons" @onclick="ShowPollPopUp">Manage custom polls</button></div>
            </div>
            <div style="margin: 5px;">
            <div class="card-text"><b>Status:</b></div>
            @if(@Team.ActivityIsActive) {
                 <div>Active</div>
                 <div><button disabled="@DisableManagerButtons" @onclick="ShowTimePopUp">Pause</button></div>
            } else {
                 <div>Paused</div>
                 <div><button disabled="@DisableManagerButtons" @onclick="ShowTimePopUp">Resume</button></div>
            }
            </div>

            <div>
                 <SetTimePopUp Team=@Team UserId=@UserId Hide=HideTimePopUp></SetTimePopUp>
            </div>
            <div>
                 <ManageDiscussionsPopUp Team=@Team UserId=@UserId Hide=HideDiscussionPopUp></ManageDiscussionsPopUp>
            </div>
            <div>
                 <ManagePollsPopUp Team=@Team UserId=@UserId Hide=HidePollPopUp></ManagePollsPopUp>
            </div>
        </div>
       </div>
@code {

    [Parameter]
    public SocioliteTeam Team { get; set; }

    [Parameter]
    public string UserId { get; set; }

    public RecurranceManager recurranceManager = new RecurranceManager();

    public bool HideTimePopUp = true;

    public bool HideDiscussionPopUp = true;

    public bool HidePollPopUp = true;

    public bool DisableManagerButtons = true;

    protected override void OnInitialized()
    {
        DisableManagerButtons = !Team.SchedulerIds.Contains(UserId);
    }

    public void ShowTimePopUp() {
        HideDiscussionPopUp = true;
        HidePollPopUp = true;
        HideTimePopUp = false;
    }

    public void ShowDiscussionPopUp() {
        HideTimePopUp = true;
        HidePollPopUp = true;
        HideDiscussionPopUp = false;
    }

    public void ShowPollPopUp() {
        HideTimePopUp = true;
        HideDiscussionPopUp = true;
        HidePollPopUp = false;
    }
}

}