@using Sociolite.Models

<div hidden="@Hide" class="card m-2" style="background-color: rgba(25, 25, 25, .5); position: fixed; z-index: 10; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 100%;">
    <div style="background-color: white; position: fixed; z-index: 10; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40%">
        <div style="display: flex;">
            <div style="background-color: mediumpurple; color: white; width: -webkit-fill-available;">Manage custom polls</div>
            <button style="background-color: indianred; color: white; width: 50px;" @onclick="HidePopUp">x</button>
        </div>
        <div>@message</div>
        <div>Custom polls team '@Team.Name':</div>
        <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">
            <div style="overflow: scroll; height: 200px;">
                @foreach (var poll in TotalPolls)
                {
                    <br />
                    <div style="margin: 5px; background-color: cornflowerblue;">
                        <div style="text-align: left">
                            <div><span><b>Question:</b></span><span>@poll.Question</span></div>
                            <div><span><b>Answers:</b></span><span>@poll.Answers.Count()</span></div>
                            <div><span><b>Created by:</b></span><span>@poll.CreatedById</span><span>(@poll.CreationTime)</span></div>
                        </div>
                        <button @onclick="() => RemoveCustomPoll(poll)">x</button>
                    </div>
                }
            </div>
        </div>
        <br />
        <div>
            <button @onclick="ShowCreatePollPopUp">Add new poll</button>
        <br />
        <div><button @onclick="DisplayStatus">Save</button></div>
        <div><button @onclick="HidePopUp">Cancel</button></div>
    </div>
        <CreatePollPopUp Team=@Team UserId=@UserId Hide=HideCreatePollPopUp OnClick="ClickHandler"></CreatePollPopUp>
    </div>
</div>

@code {

    [Parameter]
    public SocioliteTeam Team { get; set; }

    [Parameter]
    public string UserId { get; set; }

    [Parameter]
    public bool Hide { get; set; }

    public string CustomTopicToAdd = "";

    public bool HideStatusPopUp = true;

    public bool HideCreatePollPopUp = true;

    public string StatusHeader = "testhest";

    public string StatusMessage = "testhest2";

    public string message = "none";

    public List<SociolitePoll> PollsToAdd = new List<SociolitePoll>();

    public List<SociolitePoll> TotalPolls = new List<SociolitePoll>();

    void ClickHandler(SociolitePoll newMessage)
    {
        SociolitePoll tempPoll = new SociolitePoll
            {
                Id = "test",
                CreatedById = UserId,
                CreationTime = "18/11/2022",
                Question = newMessage.Question,
                Answers = new List<string> { "test1", "test2" }
            };

        TotalPolls = new List<SociolitePoll>();
        PollsToAdd.Add(tempPoll);
        TotalPolls.AddRange(Team.CustomPolls);
        TotalPolls.AddRange(PollsToAdd);

        string temp = "";
        foreach (var poll in TotalPolls)
        {
            temp = temp + poll.Question + ", ";
        }

        message = temp;

        HideCreatePollPopUp = true;
    }

    protected override void OnInitialized()
    {
        Team.CustomPolls.Add(new SociolitePoll
            {
                Id = "test",
                CreatedById = UserId,
                CreationTime = "18/11/2022",
                Question = "Test hest",
                Answers = new List<string> { "test1", "test2" }
            });

        TotalPolls = Team.CustomPolls;
    }

    public void HidePopUp()
    {
        Hide = true;
    }

    public void ShowCreatePollPopUp()
    {
        HideCreatePollPopUp = false;
    }

    public void DisplayStatus()
    { // This only shows up the first time
        StatusHeader = "Manage custom discussions";
        StatusMessage = "Changes saved!";

        HideStatusPopUp = false;
    }

    protected void RemoveCustomPoll(SociolitePoll poll)
    {
        // This currently removes from Team.Polls, which is also the object used on the main Tab. Put data in seperate list and use this one in this component
        if (Team.CustomPolls.Contains(poll)) {
            Team.CustomPolls.Remove(poll);
        }
        else if (PollsToAdd.Contains(poll)) {
            PollsToAdd.Remove(poll);
        }
        TotalPolls.Remove(poll);

        HideCreatePollPopUp = true;
    }
}